
@import "stylesheets/header.css";
@import "stylesheets/about.css";

@import url("https://db.onlinewebfonts.com/c/14bcfd7986d2631f04b55ff9a0cf1837?family=VeneerClean-Soft");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    transition-duration: 500ms;
    scroll-behavior: smooth;

    font-family: Helvetica;
}


:root{

    --redHeadingColor: #F5322D;
    --brokenGreenColor: #369A74;
    --cardRedColor: #DE221D;
    --cardBlackColor: #2E2E2E;
}
body{

}
h1{
    font-size: 5rem;
    font-family: "VeneerClean-Soft";

}
h2{
    font-size: 2.5rem;
    font-family: "VeneerClean-Soft";
}
h3{
    font-size: 2rem;
    font-family: "VeneerClean-Soft";
}
a{
    text-decoration: none;
    color: gray;
    display: flex;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.redHeading{
    color: var(--redHeadingColor);
    font-family: Helvetica;

}

#downArrow{
    width: 3rem;
}
@media screen and (max-width: 830px) {
h1{
    font-size: 3.6rem;
}
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1rem;
    }
}
