
@import "stylesheets/header.css";
@import "stylesheets/about.css";
@import "stylesheets/studentlife.css";
@import "stylesheets/visit.css";
@import "stylesheets/tuition.css";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    transition-duration: 500ms;
    scroll-behavior: smooth;

    font-family: 'Lato', sans-serif;

}


:root{

    --redHeadingColor: #F5322D;
    --brokenGreenColor: #369A74;
    --cardRedColor: #DE221D;
    --cardBlackColor: #2E2E2E;
}
body{

}
h1{
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;

}
h2{
    font-size: 2.5rem;
    font-family: 'Bebas Neue', sans-serif;
}
h3{
    font-size: 2rem;
    font-family: 'Bebas Neue', sans-serif;
}
a{
    text-decoration: none;
    color: gray;

}

section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.redHeading{
    color: var(--redHeadingColor);
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}
.redBold{
    color: var(--redHeadingColor);
    font-size: x-large;
    font-weight: lighter;
}
.redBoldHeading{
    color: var(--redHeadingColor);
    font-weight: 400;
}
.sectionHeading{
    font-size: 3.7rem;
}
#downArrow{
    width: 3rem;
}
@media screen and (max-width: 830px) {
h1{
    font-size: 3.6rem;
}
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    .sectionHeading{
        font-size: 3.3rem;
    }
}

@media screen and (max-width: 400px) {
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1rem;
    }
    .sectionHeading{
        font-size: 3rem;
    }
}
