

header{
    height: 100vh;
    display: flex;
    flex-direction: column;

    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.8)),  url("../assets/bg/heroBg.jpg") no-repeat center;
    background-size: cover;

    color: whitesmoke;

}
nav{
    overflow: hidden;

    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    padding: 0.4rem;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.5);
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;

    width: 80%;
    margin: 0 auto;
    list-style: none;

}
nav ul li{
    display: block;
}
nav a{
    color: white;
    font-weight: 300;
}
.nav__logo{
    width: 7rem;
}

.nav__menu{
    width: 2rem;
    margin: 0.4rem;
}
.nav--small{
    display: none;
}
#mobile-menu{
    display: none;
}

.hero__logo{
    width: 8rem;
}

.header__hero{
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    padding: 4rem;
}
.header__hero h1{
    line-height: 100%;
    font-weight: lighter;
}

@media screen and (max-width: 830px) {
    .nav--small{
        display: flex;
    }
    .nav--menu__small{
        backdrop-filter: blur(20px);
        background-color: rgba(0, 0, 0, 0.43);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        border-radius: 2px;

        position: fixed;
        top: 12%;
        right: 6%;
        z-index: 1000;

        display: flex;
        flex-direction: column;
        padding: 0.7rem;

        width: 80%;
        min-width: 200px;
        max-width: 300px;

    }

    .nav--menu__small li{
        list-style: none;
    }
    .nav--menu__small a{
        padding: 1rem;
        margin: 0.2rem 0;
        display: block;
        color: whitesmoke;
    }
    .nav--menu__small a:active:focus{
        background: rgba(255, 255, 255, 0.34);
    }
    .nav--main{
        display: none;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 40%;

        width: 100%;
        margin: 0;
    }
    .nav__logo{
        width: 6rem;
    }
    .header__hero{
        padding: 2rem;
    }


}


@media screen and (max-width: 400px) {
    .header__hero{
        padding: 1rem;
    }

}