#Programs{
    border: solid red 2px;
    background: var(--cardRedColor);
    color: whitesmoke;
    padding: 3.8rem 1.5rem;
}

h2{
    font-weight: 400;
}
.programs--list{
    column-count: 5;
    font-size: smaller;
    border-bottom: solid whitesmoke 1px;
    padding-bottom: 1rem;
}
.programs--list ul{
    list-style: none;
}

.programs--list ul li{
    line-height: 1.4rem;
    font-weight: bold;
}

.programs--colleges{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
.programs--colleges p{
    display: flex;
    flex-direction: column;
    font-size: smaller;
}
.programs--colleges p span{
    display: flex;
    gap: 2rem;
}

.programs--contacts{
    display: flex;
    flex-direction: row;
}
.programs--contacts div{
    padding: 1rem ;

    display: flex;
    flex-direction: column;
    justify-content: end;
}
.programs--contacts__caption{
    max-width: 300px;
}
.programs--contacts .footerLogo{
    flex: 1;
}
.programs--contacts .footerHeading{
    font-size: 2rem;
    line-height: 2rem;
}
@media screen and (max-width: 800px) {
    .programs--list{
        column-count: 4;
        font-size: smaller;
    }


}

@media screen and (max-width: 670px) {
    .programs--contacts{
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    .programs--list{
        column-count: 3;
    }
}

@media screen and (max-width: 400px) {
    .programs--list{
        column-count: 2;
    }
}