
.visit--banner{
    height: 40%;
    min-height: 250px;
    background: url("../assets/bg/visitBg.jpg");
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}
.visit--banner h1{
    color: white;
    font-size: 8rem;
    font-weight: lighter;
}
.visit--banner h1 svg{
    width: 6rem;
}
.article{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.center{
    flex: 1;

    display: flex;
    flex-direction: column;
}
.center .text{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    gap: 10px;

}
.link{
    width: 20px;
}
.virtualTour{
    display: flex;
    justify-content: center;
}
.eyeIcon{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eyeIcon svg{
    font-size: 1.5rem;
}
.left{
    overflow: hidden;
    object-fit: contain;

    /*max-width: 400px;*/
    max-width: 30%;

}
.left img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.right{
    flex: 1;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.article--center-img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}


@media screen and (max-width: 800px) {
    .article{
        flex-direction: column;
    }
    .left{
        display: none;
    }
    .right{
        padding: 1rem 0.6rem;
        gap: 10px;
    }

}

@media screen and (max-width: 600px) {
    .visit--banner h1{
        font-size: 6rem;
    }
    .visit--banner h1 svg{
        width: 4rem;
    }
}

@media screen and (max-width: 450px) {
    .visit--banner h1{
        font-size: 4rem;
    }
    .visit--banner h1 svg{
        width: 2rem;
    }
}
